code {
    /* color: #F87A32; */
    /* font-style: italic; */
    font-family: "IBM Plex Mono", "Fira Mono", 'Courier New', Courier, monospace;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 0.5px;
    padding-left: 7px;
    padding-right: 7px;
}
