@import "main-pre.css";
@import "blog-pre.css";

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* border-right: 2px dashed black;
    border-left: 2px dashed black; */
    max-width: 1000px;
    font-family: "JetBrains Mono", "Fira Mono", "Courier New", Courier, monospace;
}

h1 {
    font-family: "JetBrains Mono Medium", "Fira Mono", "Courier New", Courier, monospace;
}

.header {
    width: 100%;
}

.blog_title {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.separator {
    width: max(60%, 250px);
    margin: 0;
}

.date {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.links {
    padding-top: 1rem;
}

.blog-link,
.links a {
    padding-top: 1rem;
    text-decoration: none;
    color: #4c5df2;
}

.blog-link:hover,
.links a:hover {
    color: #000b6a;
}

@import "main-post.css";
