/**
 * Site header
 */
.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-title,
.site-title:visited {
    color: #424242;
}

#site-header-h-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-avatar-h-card {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: flex-start;
}

#site-header-v-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

#what-is-this {
    font-size: 18px;
    color: #666;
}

/**
  * Site Header Avatar
  */

#main-header-avatar {
    margin-right: 20px;
}

#main-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
}
