@import "main-pre.css";

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    font-family: "Fira Mono", "Courier New", Courier, monospace;
}

#headerImg {
    width: 90%;
    object-fit: contain;
}

.separator {
    width: 50%;
    margin: 20px;
}

.top,
.bottom,
.editors {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: min-content;
}

h2 {
    font-weight: 300;
}

.content {
    margin-bottom: 0;
    padding-bottom: 0;
}

.languages {
    border: none;
    width: 100%;
    height: 12%;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.links li,
.editors-list li {
    margin-bottom: 1.2rem;
}

.links a {
    text-decoration: none;
    color: #4c5df2;
}

.links a:hover {
    color: #000b6a;
}

.social {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.social a {
    width: 7%;
    min-width: 30px;
    padding-left: 2rem;
}

.social img {
    width: 100%;
}

#codeforces-ratings {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.resume {
    width: 100%;
    height: 1200px;
}

@import "main-post.css";
