.custom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    background-color: aliceblue;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.custom-logo {
    width: 150px;
    height: 150px;
    margin: 0 1rem;
}

.custom-legend {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px;
}

.custom-legend-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
